/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root{
    --font-family: 'Montserrat', sans-serif;
    --primary-color: #1E435B;
    --accent-color: #EAA900;
    --font-bold: 700;
    --font-light: 300;
    --font-medium: 500;
    --font-low-medium: 400;
    --white-color: #FFFFFF;
    --dark-theme: #06263A;
    --light-theme: #ffffff;
    --artikel-card:#407BFF;
    --second-context:#B9E5E6;
    --find-us:#BFCEF4;
}

.front{
    position: absolute;
    width: 653px;
    height: 435px;
    left: 680px;
    top: 210px;
  }
  
  .back{
    position: absolute;
    width: 454px;
    height: 367px;
    left: 795px;
    top: 148px;
  }