/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    font-family:'Montserrat', sans-serif;
}

.container, form{
    display: flex;
    flex-direction: column;
    max-width: 640px;
    width: calc(100% - 2rem);
    margin: auto;
}